/* STYLING FOR CUSTOM FILE BROWSE */

div#mybutton {
  /* IMPORTANT STUFF */
  overflow: hidden;
  position: relative;
  cursor:   pointer;   

  /* SOME CUSTOM STYLING */
  width:  200px;
  padding: 10px; 
  text-align: center;
}

div#mybutton:hover {
  font-weight:bold;}

input#myfile {
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;

  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}
