.passwordFix .headWrapper{position:absolute;top:15px;left:20px;}
.passwordFix h5{font-weight:bold;}
.passwordFix .mainContent{text-align:center;background:#464555;
  padding:25px;color:#fff;}
.passwordFix .progressDiv{width:85%;margin:auto;}
.passwordFix .fixCountLabel{background:#fff;border-radius:2em;
  border:3px solid rgba(0,0,0,.5);padding:5px 15px;margin-bottom:15px;
  display:inline-block;color:#464555;margin-top:10px;}
.passwordFix .progressWait{display:none;}
.passwordFix .progress{visibility:hidden;}
.passwordFix .scriptStartButton{border-radius:2em;background:#090;
  border:3px solid #fff;padding:5px 15px;display:inline-block;
  margin:15px 0;}
.passwordFix .startNow{cursor:pointer;}
.passwordFix .scriptStartButton .ticon{background:#fff;height:25px;
  width:25px;line-height:25px;text-align:center;border-radius:50%;
  margin-right:5px;display:inline-block;padding-top:1px;color:#090;}
.passwordFix .scriptStartButton:hover{background:#000;}
