.passwordFix .headWrapper{position:absolute;top:15px;left:20px;}
.passwordFix h5{font-weight:bold;}
.passwordFix .mainContent{text-align:center;background:#464555;
  padding:25px;color:#fff;}
.passwordFix .progressDiv{width:85%;margin:auto;}
.passwordFix .fixCountLabel{background:#fff;border-radius:2em;
  border:3px solid rgba(0,0,0,.5);padding:5px 15px;margin-bottom:15px;
  display:inline-block;margin:auto;color:#464555;}
