/* for overlays */
body.disable-scroll {overflow:hidden;position:relative;margin:0;padding:0;}

/* disable orange outline on touch focus */
* {-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none !important;}

/* navMenuIcon hover */
.navMenuIcon:hover{background:#fff;}

.publicSearchForm.dim{position:fixed;top:50px;
	height:100vh;background:rgba(0,0,0,.8);width:100%;
	z-index:100;}
.publicSearchForm .publicOverlayClose{position:absolute;top:12px;right:15px;
	cursor:pointer;}
.publicSearchForm .publicOverlayClose .frame{display:inline-block;
	border:1px solid #fff;padding:0 5px;background:#223e94;color:#fff;
	height:30px;width:30px;line-height:30px;border-radius:50%;}
.publicSearchForm .publicOverlayClose:hover{opacity:.7}
.publicSearchForm .fieldDiv{margin:15px;margin-bottom:0;}
.publicSearchForm .mainWrapper{text-align:center;background:#efedff;
	color:#223e94;padding-bottom:25px;}
.publicSearchForm .fieldLabel{color:#223e94;text-align:left;
	padding-top:15px;padding-left:20px;}
.publicSearchForm .fieldLabel i{margin-right:10px;}
.publicSearchForm .searchResults{background:#fff;color:#464555;padding:10px;
	text-align:left;overflow:hidden;max-height:75vh;position:relative;}
.publicSearchForm .render{max-height:100%;}
.publicSearchForm input.field{width:100%;border-radius:0;padding:5px 10px;
	border:1px solid #ccc;}
.publicSearchForm .loading img{max-height:15px;margin-right:15px;}
.publicSearchForm .listingLine{margin-bottom:5px;font-size:.85em;}
.publicSearchForm .listingLine .addressText{padding-left:5px;}
.publicSearchForm .listingLine img{max-width:75px;}
.publicSearchForm .listingLine:hover{background:rgba(0,0,0,.05);cursor:pointer}


.unimportable.overlayContent{background:#efedff;padding:10px;}
.unimportable .mainHead{font-size:1.15em;text-align:left;color:#223e94;
	padding:10px 20px;background:#fff;border-radius:2em;margin-bottom:5px;}
.unimportable input.field{width:100%;border-radius:2em;border:1px solid #eee;
	padding:5px 15px;margin-bottom:5px;}
.unimportable input.centerField{text-align:center;}
.unimportable .fieldLabel{text-align:center;font-size:.85em;color:#223e94;}
.unimportable .submitDiv{text-align:center;}
.unimportable .primarySubmit{border-radius:2em;background:#223e94;color:#fff;padding:10px 15px;
	border:3px solid #fff;margin:10px 0;}
.unimportable .alert-warning{display:none;border-radius:2em;
	margin:0;margin-bottom:5px;padding:10px 30px;text-align:left;
	font-size:.85em;}
.unimportable .publicOverlayClose{position:absolute;right:10px;top:12px;
	background:#223e94;line-height:25px;color:#fff;cursor:pointer;
	z-index:55;}
.publicOverlay .unimportableSuccessRender{display:none;}
.unimportableSuccessRender .contentWrapper{text-align:center;padding:50px;}

/* publicLogin */
.publicLoginWrapper{position:fixed;height:100%;width:100%;
	background:rgba(0,0,0,.8);z-index:5000;display:none;top:50px;}
.publicLoginWrapper .conditionalCaptcha{display:none;}
.publicLoginWrapper .alert-warning{width:90%;margin-left:auto;display:none;
	margin-bottom:10px;margin-right:auto;padding:5px 0;border-radius:2em;}
.publicLoginWrapper .passwordRequest .alert-warning{margin-top:15px;}
.publicLoginWrapper .alert-warning li{list-style:none;}
.publicLoginWrapper .loading{background:#fff;text-align:center;color:#223e94;
	padding:25px;display:none;}
.publicLoginWrapper .passwordRequest,
.publicLoginWrapper .resetComplete{background:#fff;color:#223e94;
	text-align:center;display:none;padding:5px;}
.publicLoginWrapper .passwordRequest .border,
.publicLoginWrapper .resetComplete .border{border:1px solid #ccc;padding-bottom:25px;}
.publicLoginWrapper .passwordRequest .fieldDiv{width:90%;margin:auto;margin-bottom:15px;
	margin-top:15px;}
.publicLoginWrapper .passwordRequest input.field{width:100%;border-radius:2em;
	padding:5px 15px;border:1px solid #ccc;}
.publicLoginWrapper .passwordRequest .formSubmit{background:#223e94;
	border:3px solid #efedff;border-radius:2em;color:#fff;padding:5px 15px;}
.publicLoginWrapper .passwordRequest .headWrapper,
.publicLoginWrapper .resetComplete .headWrapper{background:#efedff;padding:10px 0;}
.publicLoginWrapper .resetComplete .message{padding:25px;padding-bottom:0;
	font-size:.85em;color:#464555;}
.publicLoginWrapper .resetComplete .resetRequest{background:#efedff;
	border-radius:2em;padding:5px 15px;display:inline-block;
	margin:auto;margin:25px 0;margin-bottom:0;}
.publicLoginWrapper .resetComplete .okButton{background:#223e94;
	border:3px solid #efedff;padding:5px 25px;border-radius:2em;color:#fff;
	display:inline-block;margin-left:auto;margin-right:auto;margin-top:25px;
	cursor:pointer;}
.publicLoginWrapper .resetComplete .okButton:hover{opacity:.8}
.publicLoginWrapper .formSubmit:hover{opacity:.8}
.publicLoginWrapper .loading img{max-height:50px;margin-top:15px;}
.publicLoginContent{background:#fff;padding:10px;overflow:auto;}
.publicLoginContent .border{text-align:center;position:relative;}
.publicLoginContent input.field{width:90% !important;margin:5px;
	border-radius:2em;border:1px solid #eee;padding:5px 15px;}
.publicLoginContent .primarySubmit{border-radius:2em;background:#223e94;
	color:#fff;padding:5px 25px;border:3px solid #efedff;
	margin-bottom:20px;color:}
.publicLoginWrapper .publicOverlayClose{position:absolute;top:15px;
	right:15px;background:#223e94;color:#fff;padding:0 5px;
	cursor:pointer;border-radius:50%;width:23px;height:23px;
	line-height:23px;}
.publicLoginContent .formTitle{color:#223e94;font-weight:bold;
	background:#efedff;padding:15px 0;margin-bottom:15px;}
.publicLoginContent .forgotPassword{text-align:center;color:#464555;
	padding-top:15px;padding-bottom:5px;font-size:.85em;
	cursor:pointer;}
.publicLoginContent .primarySubmit:hover{opacity:.8}
.publicLoginContent .publicOverlayClose:hover{opacity:.8;}
.publicLoginContent .forgotPassword:hover{color:#223e94;}
.publicLogin a{color:#fff;cursor:pointer;}
.publicLogin a:hover{color:#fff !important;font-weight:bold;
	text-decoration:none;}

/* trialError */
.trialError .smallMainHead{font-size:1.35em;padding-top:10px;}
.errorLabel{color:#900;display:none;}

/* overlays */
/* joinNow overlay */
.joinNow .headWrapper{text-align:center;padding-top:25px;padding-bottom:10px;}
.joinNow .formWrapper{text-align:center;padding-bottom:25px;}
.joinNow.default .mainHead{font-size:2.5em;}
.joinNow.default .fieldDiv{margin-bottom:15px;}
.joinNow .alert-warning{display:none;border-radius:2em;
	width:90%;margin-left:auto;margin-right:auto;
	margin-bottom:10px;padding:5px 25px;}
.joinNow.default .publicOverlayClose{top:0px;right:0px;
	border-radius:0;background:#eee;color:#999;}
.joinNow.default input{box-shadow:none;}
.joinNow.default input.field{border:1px solid #efedff;}
.joinNow.default.overlayContent{padding:5px;}
.joinNowFree{cursor:pointer;}
.joinNow .loading{display:none;text-align:center;color:#223e94;padding:25px;}
.joinNow .loading img{max-height:50px;margin-top:15px;}
.joinNow .formSubmit{background:#223e94;color:#fff;
	padding:10px 20px;border-radius:2em;
	width:100%;border:none;}
.navLI .joinNowFree:hover{background:#fff;}

/* navbar public search */
.navLI .publicSearch:hover{background:#fff;}

/* default */
.overlayWrapper{margin:0 auto;height:100vh;
	background:rgba(0,0,0,.8);width:100%;
	overflow:auto;padding-top:15px;}
.publicOverlay{position:fixed;top:35px;z-index:50;
	display:none;width:100%;}
.default.overlayContent{background:#fff;padding:15px;}
.default .overlayBorder{border:1px solid #efedff;}
.default .mainHead{color:#223e94;font-size:2em;font-weight:bold;}
.default .publicOverlayClose{position:absolute;right:15px;top:15px;
	background:#223e94;line-height:25px;color:#fff;cursor:pointer;
	z-index:55;}
.default input.field{width:90%;color:#223e94;
	border-radius:2em;border:1px solid #eee;padding:5px 15px;}
.default select.field{width:85%;background:#efedff;color:#223e94;
	padding:5px 15px;border:none;}
.default input[type="email"]::placeholder{text-align:center;}
.default input[type="email"]:-ms-input-placeholder{text-align:center;}
.default input[type="email"]::-ms-input-placeholder{text-align:center;}
.default input[type="text"]::placeholder{text-align:center;}
.default input[type="text"]:-ms-input-placeholder{text-align:center;}
.default input[type="text"]::-ms-input-placeholder{text-align:center;}
.default input{outline:none;box-shadow:0px 0px 2px #223e94;}
.default textarea{outline:none;box-shadow:0px 0px 2px #223e94;resize:none;}
.default textarea::placeholder{text-align:center;}
.default textarea:-ms-input-placeholder{text-align:center;}
.default textarea::-ms-input-placeholder{text-align:center;}
.default textarea.field{width:85%;background:#efedff;
	color:#223e94;border-radius:1em;border:1px solid #eee;
	padding:15px;margin-top:15px;height:125px;}
.default .formDiv{text-align:center;}
.default .fieldDiv{margin-bottom:10px;}
.default .footerLink{margin-bottom:10px;}
.default .primarySubmit{border-radius:2em;background:#223e94;color:#fff;padding:3px 15px;
	border:2px solid #efedff;margin:10px 0;}
.privacyPolicy .mainHead{padding-bottom:25px;}
.pubSubscribe .mainHead{padding-top:5px;}
.pubSubscribe .subHead{padding-bottom:15px;font-size:.75em;}
.pubSubscribe input.field{margin-bottom:15px;}
/* needed to offset fixed header on anchors*/
:target::before {
  content: "";
	display: block;
  height: 70px; /* fixed header height*/
	margin: -70px 0 0; /* negative fixed header height */}

.landingMenu{background:#fff;position:fixed;top:50px;
	z-index:5000;width:100%;border:3px solid #efedff;display:none;}
.landingMenu .menuItem{text-align:center;background:#efedff;
	padding:10px;color:#223e94;border-bottom:1px solid #fff;
	cursor:pointer;}
.landingMenu .sideMenu{display:none;}
.landingMenu .menuItem a{text-decoration:none;color:#223e94;
	display:block;}
.landingMenu .publicLogin a{color:#223e94;display:block;}
.landingMenu .publicLogin a:hover{color:#223e94 !important;
	font-weight:normal !important}
.landingMenu .menuButton{font-size:.85em;}
.landingMenu .menuButton i{margin-right:10px;}
.landingMenu .menuButton.signup{padding:10px 15px;background:#223e94;
	border:3px solid #efedff;border-radius:2em;margin:30px 15px;
	color:#fff;cursor:pointer}
.landingMenu .default.menuButton{border:3px solid #efedff;border-radius:2em;
	color:#223e94;padding:5px 15px;margin:30px 15px;cursor:pointer;
	background:#efedff;}
.landingMenu .default.menuButton:hover{background:#fff;}
.landingMenu .menuItem:hover{background:#f7f7f7;border:1px solid #efedff;}
.landingMenu .signup:hover{background:#fff;color:#223e94;}


/* Carousel */
/* Responsive Main Image */
.responsiveImgContainer{height:510px;}
.responsiveImg{height:510px;object-fit:cover;}

/* freeTrial Icon */
.freeTrial .ticon .circle{width:60px;height:60px;line-height:60px;}
.freeTrial .ticon{font-size:2em;margin-bottom:10px;}
.freeTrial .colWrapper{padding-top:25px;padding-bottom:75px;}
.freeTrial .preHead{font-size:1em;font-style:italic;}
.freeTrial .mainHead{font-size:2em;font-weight:bold;}
.freeTrial .subHead{font-size:.9em;padding-top:15px;}
.freeTrial .formWrapper{padding-top:15px;}
.freeTrial .formSubmit{background:#223e94;color:#fff;
	padding:10px 15px;border-radius:2em;width:100%;border:none;}
.freeTrialSection .declarations{display:none;}
.freeTrialSection .terms{display:none;}

/* Feature Home   */
.featureHomeDiv{width:100%;height:100%;position:absolute;top:0;
	background:rgba(0,0,0,.5);color:rgba(255,255,255,.7);}
.featureHomeText{font-size:125%;padding-bottom:5px;padding-top:50px;
	padding-left:20px;}
.featureAddress{font-size:80%;color:rgba(255,255,255,.8);padding-left:20px;}
.featureCSZ{font-size:70%;}
	/* agent */
.carouselAgentWrapper{position:absolute;bottom:0;
	background:rgba(255,255,255,.2);padding:3%;width:100%;
	color:rgba(255,255,255,.7);font-size:80%;}
.carouselAgentImg{height:60px;margin-right:10px;}

/*section headlines */
.landingLeft{position:relative;}
.landingRight{color:#fff;padding-top:0;text-align:center;}
.landingRight h1{font-size:2em;line-height:1.5}
.landingRight h2{font-size:1em;line-height:2}
.landingRight hr{margin:35px 50px;}
.landingRight .ctaButton{padding:3px;padding-right:4px;
	padding-bottom:4px;margin-top:35px;margin-bottom:65px;}
.landingRight .ctaTextRoundest{background:#900;padding:10px 15px;
	border-radius:2em;}
.landingRight .colWrapper{padding:50px 0 !important;}

/* core features */
.coreFeatureGroup{padding:0 25px;}
.coreFeatures.container-fluid{background:#fff;}
.coreFeatures .sectionHeader{text-align:center;padding:50px 0;}
.coreFeatures .sectionHeader H1{font-size:1.5em;font-weight:bold;
	color:#223e94;text-decoration:italic;}
.coreFeatures .sectionHeader .preHead{padding-bottom:10px;font-size:.95em}
.coreFeatures .sectionHeader H2{color:#212529;font-size:1em;
	text-decoration:italic;}
.coreFeatures .tiframe{background:rgba(239,237,255,.6);
	border:1px solid #efedff;height:55px;width:55px;border-radius:50%;
	text-align:center}
.coreFeatures .ticon{font-size:22pt;}
.coreFeatures .ticon{line-height:55px;}
.coreFeatures .altIconHeader{color:#223e94;font-weight:bold;padding-bottom:5px;}
.coreFeatures .iconDesc{padding-left:35px;}
.coreFeatures .iconDesc p{border-bottom:2px solid #efedff;
	padding-bottom:15px;}
.coreFeatures .exitPhrase{padding:30px 0;text-align:center;
	padding-top:35px;}
.coreFeatures .exitPhrase .mainHead{font-size:1.45em;font-weight:bold;}
.coreFeatures .exitPhrase .subHead{font-size:.95em;}
.lastItemBorder{border-bottom:none;}

/* agent wall */
.agentURLbar .publicOverlayClose{display:none;}
.agentWall .agentURLbar{padding:15px;}
.agentWall .contactHeader{padding:0 15px;}
.agentWall .emailBox{padding:15px;}
.agentWall .listingFrame{margin-bottom:25px;text-align:center;
	border-bottom:3px solid #efedff;padding-bottom:25px;}
.agentWall .listingFrame img{height:225px;width:100%;object-fit:cover;}
.agentWall .csz{padding-bottom:5px;}
.agentWall .listPrice{color:#223e94;padding-bottom:5px;font-size:1.15em;}
.agentWallTile{height:85px;cursor:pointer;}
.agentWallTile img{height:100%;width:100%;
	object-fit:cover;min-width:0;}
.agentWallBot {display:none;}
.agentWallHero{display:none;}
.agentWallAltHero{text-align:center;}
.agentWallStats{background:#fff;color:#223e94;
	text-align:center;padding:25px 0;border-radius:1em;
	margin:25px 0;}
.agentWallStats H1{margin:0;padding:0;font-size:1.75em;}
.agentWallStats .statDesc{font-size:75%;font-family:Lora;}
/* agtWall popup */
.agentWallPhoto{vertical-align:top;height:85px;margin-left:15px;}
.agentWallPhoto img{max-height:100%;}
.agentWallLogo{vertical-align:bottom;height:50px;margin-left:15px;}
.agentWallLogo img{max-height:100%;display:none;}
.agentWallName{font-size:1.25em;font-weight:bold;}
.agentWallContact{vertical-align:bottom;font-size:.8em;margin-left:15px;}
.agentWallBanner{margin:25px 0;}
.memberSince .agentWallHero{padding-top:25px;}
.memberSince .preHead{font-size:1.75em;}
.memberSince .mainHead{font-size:2em;}
.memberSince .headWrapper{padding-bottom:25px;}
.memberSince .ticonFrame{padding-bottom:25px;}
.memberSince .heroText p{border-top:1px solid #fff;margin-bottom:25px;padding:35px 15px;}
button.joinNowFree{background:#900;padding:15px 20px;color:#fff;
border-radius:2em;font-weight:bold;border:none;}
/* mostViewSlides */
.mostViewSlides .sectionHeader{padding:25px 0;
	text-align:center;padding-bottom:0;}
.mostViewSlides .ticon{font-size:32px;color:#223e94;}
.mostViewSlides .agentFrame{text-align:left;display:inline-block;
	margin:0 auto;border-top:1px solid #efedff;padding-top:20px;
	margin-top:20px;margin-bottom:25px}
.mostViewSlides .agentDetails{padding-left:15px;}
.mostViewSlides .agentName{color:#223e94;font-size:1.25em;}
.mostViewSlides .agent-hr{padding:0 25px;}
.mostViewSlides .header-hr{padding:0 50px;}
.mostViewSlides .agentImage{height:85px;}
.mostViewSlides .agentName{max-width:200px;}
.mostViewSlides .slideAddress{font-size:1.15em}
.mostViewSlides .csz{padding-bottom:5px;}
.mostViewSlides .imageDiv{height:350px;position:relative}
.mostViewSlides .mainHead{font-size:2em;}

/* newestListSection */
.newestListSection .headerIcon{font-size:2em;text-align:center;}
.newestListSection .sectionHeader{text-align:center;color:#464555;}
.newestListSection .homeAddress{font-size:1.25em;}
.newestListSection .imageDiv{position:relative;height:225px;}
.newestListSection .agentFrame{text-align:left;background:rgba(255,255,255,.5);
	border:1px solid #fff;padding:15px;}
.newestListSection{}
.newestListSection .agentName{color:#223e94;font-size:1.15em;max-width:175px;}
.newestListSection .agentImageDiv{min-height:85px;}
.newestListSection .agentOffice{max-width:230px;}
.newestListSection .agentImage{height:100%;}
.newestListSection img{vertical-align:inherit;}
.newestListSection .listingFrame{margin-bottom:30px;}
.newestListSection .agentImage{max-width:50px;height:85px;object-fit:cover;}
.newestListSection.container-fluid{padding:50px 0;padding-top:35px;}

/* unlimitedSale */
.unlimitedSale.container-fluid{border-top:5px solid #fff;
	border-bottom:5px solid #fff;}
.unlimitedSale .saleWrapper{max-width:450px;}
.unlimitedSale .mainHeadText{font-size:1.75em;padding-top:10px;}
.unlimitedSale .preHead{padding-top:25px;padding-bottom:10px;font-style:italic;}
.unlimitedSale .subHead{font-size:.9em;}
.unlimitedSale .ticon{font-size:2.5em;}
.unlimitedSale .priceUnit{font-weight:bold;font-size:1.5em;}
.unlimitedSale .price{font-weight:bold;font-size:2.5em;}
.unlimitedSale .timeFrame{font-weight:bold;font-size:1.75em;}
.unlimitedSale .adFrame{max-width:550px;margin:0 auto;}
.unlimitedSale .disclaimer{max-width:500px;margin:0 auto;text-align:center;}

/* Pay per flyer */
.creditButton{margin:0;background:rgba(255,255,255,.5);border:1px solid #fff;
	padding:15px 0;text-align:center;border-radius:1em}
.pricePill{display:inline-block;padding:5px 10px;background:#223e94;
	color:#fff;border-radius:2em;margin-bottom:5px;border:2px solid #fff ;}
.payPerFlyer .header-hr{}
.payPerFlyer .termsConditions{font-size:.75em;padding:30px;text-align:center;
margin:0 auto;}
.payPerFlyer .creditCol{padding:7.5px;}
.payPerFlyer .preHead{font-size:.9em;font-style:italic;padding:25px;padding-bottom:10px;}
.payPerFlyer .mainHeadText{font-size:1.75em;}

/* remReaons */
.remReasons.container-fluid{padding:0;padding-top:35px;}
.remReasons .headerText{font-size:1.5rem;}
.remReasons .multiLine{display:none;}
.remReasons .headerCol .ticonWrap{color:#223e94;}
.remReasons .headerCol .ticonFrame{height:65px;width:65px;background:#efedff;
	border-radius:50%;margin-left:auto;text-align:center;padding-top:7px;}
.remReasons .headerCol .ticon{font-size:2.25rem;}
.remReasons .headerCol .ticonText{font-size:1.5em;}
.remReasons .headerImg{padding:15px 0}
.remReasons .headerImg img{max-height:175px;}
.remReasons .featureBox .ticon{font-size:1.25rem;}
.remReasons .featureBox .ticonText{font-size:1.25rem;text-align:center;}
.remReasons .ticon-hr{margin-bottom:5px;}
.remReasons .ticonCol{text-align:center;}
.remReasons .featureBox .ticonFrame{display:inline-block;background:#efedff;
	width:35px;height:35px;border-radius:50%;padding-top:7px;}
.remReasons .featureBox{margin-bottom:35px;padding:0 25px;}
.remReasons .featureWrapper{padding:35px 0;}

.faqContent .faqBanner{padding-top:25px;}
.faqContent .panel-default{background:rgba(255,255,255,.3)}
.faqContent .mainHead{font-size:1.5em;text-align:center;font-weight:bold;}
.faqContent .call-out{background:rgba(255,255,255,.3)}

/* publicFooter */
.publicFooter{background:#666;border-top:5px solid #fff;}
.publicFooter .phoneLine img{max-height:25px;}
.publicFooter .logoDiv img{max-height:35px;}
.publicFooter .colWrapper{padding:15px 0;}
.publicFooter .colWrapper.contactList{padding-top:0;margin-top:0;}
.publicFooter .streetAddress{padding-bottom:15px;}
.publicFooter .phoneHeader,.publicFooter .phoneLine{margin-bottom:5px;}
.publicFooter .emailButton{margin-top:15px;padding:3px 10px;
background:#fff;color:#666;display:inline-block;border-radius:2em;
border:2px solid rgba(255,255,255,.3);cursor:pointer;}
.publicFooter .colWrapper.copyright{font-size:.75em;}
.publicFooter .policyLine .pipe{margin:0 3px;opacity:.5;}
.privacyPolicy a{color:#223e94 !important;
	text-decoration:underline !important;}

/* container-fluid */
.mostViewSlides.container-fluid,
.newestListSection.container-fluid,{padding:0}

/*  border radius  */
.borderRadiusTop1em{border-top-right-radius:1em;border-top-left-radius:1em;}
/* Angle Clip */
.angleRight90{
  -webkit-clip-path: polygon(90% 0, 100% 53%, 90% 100%, 0 100%, 0% 50%, 0 0);
  clip-path: polygon(90% 0, 100% 53%, 90% 100%, 0 100%, 0% 50%, 0 0);}
.modal-dialog.autoWidthModal{
  display:table;
  max-width: 1000px;}

/*********
**  FAQ
*********/
.faq .header-section h3 {display: inline-block;margin: 0 auto;margin:50px 0;
  font-family: inherit;font-weight: 900;}
.faq .header-section h2 {font-size: 30px;font-weight:900;line-height: 30px;}
.faq .panel-group .panel {box-shadow: 1px 3px 5px #d9d9d9;margin-bottom:20px;}
.panel-body{padding:20px;}
.faq .panel-group {margin-bottom: 20px;}
.faq .panel-default {border-color: #ddd;}
.faq .panel-default .panel-heading {color: #333;border-color: #c7c7c7;
  padding: 15px;border-radius: 5px;position: relative;}
.panel{border: 1px solid transparent;}
.faq .call-out {padding: 25px;box-shadow: 0 0 3px #d9d9d9;margin: 30px 0;
  border-radius: 5px;text-align: right;}
.faq .call-out p {display: inline-block;font-size: 24px;line-height: 24px;
  margin: 6px 25px 6px 0;vertical-align: middle;float: left;}

/** Landing Page **/
.landingPageLeft{padding-top:0;}
.landingPageRight{padding-top:75px;}
.landingFlyerHeadline{float:left;padding-top:20px;padding-left:25px;}
.landingFlyerHeadline img{width:40%;}
.landingFlyerFooter{}
#landingFlyers{max-width:700px;margin:0 auto;
  border:1px solid rgba(255,255,255,.1);border-bottom:0;}
#landingFlyersAbsolute{max-width:485px;margin:0 auto;
  border:1px solid rgba(255,255,255,.1);border-bottom:0;}

/* Carousel */
/* Carousel Controls */
.carousel-control-next, .carousel-control-prev{width:3%;opacity:1;
  top:20%;bottom:20%;}
/* agent */
.carouselAgentDiv{}
.carouselAgentName{font-size:110%;}
.carouselAgentCompany{font-family:Lora;}
.carouselAgentField{}

.carouselAgentContact{}
/* buttons */
.buttonBlueWhite{background:#0082CB;border:2px solid #fff;
  border-radius:2em;padding:15px 35px;display:inline-block;
  text-align:center;margin:0 auto;color:#fff;font-weight:bold;
  margin-top:15px;}
.primaryButton{background:#223e94;color:#fff;display:inline-block;
	margin:0 auto;padding:5px 20px;border:3px solid #efedff;
	border-radius:2em;margin-top:25px;cursor:pointer;}


/* slick carousel */
/* side arrows */
  .theSidePrev{position:absolute;top:15px;left:-15px;padding:10px;
    padding-top:50px;padding-bottom:50px;background:rgba(0,0,0,.1);
    cursor:pointer;color:rgba(0,0,0,.4);}
  .theSideNext{position:absolute;top:15px;right:-15px;padding:10px;
    padding-top:50px;padding-bottom:50px;background:rgba(0,0,0,.1);
    cursor:pointer;color:rgba(0,0,0,.4);}
/* top arrows */
  .theTopPrev{position:absolute;left:45%;top:-50px;padding:15px;
    background:rgba(0,0,0,.2);cursor:pointer;border-radius:50%;
    padding-top:10px;padding-bottom:10px;}
  .theTopNext{position:absolute;right:45%;top:-50px;padding:15px;
    background:rgba(0,0,0,.2);cursor:pointer;border-radius:50%;
    padding-top:10px;padding-bottom:10px;}

/* purchase */
.startPurchase{cursor:pointer;}

/* firefox no color on autofill */
input{filter:none;}

/* chrome no color on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background:#efedff !important;
	color:#223e94 !important;
}

/************
propInfo page
*************/
.captionHeadline {position: absolute;top:0px;padding: 10px;z-index: 10;
  background: rgba(0,0,0,0.5);color: #fff;font-weight: bold;width: 100%;}
.propInfoHead h2 {padding:0;margin:0;font-size:24px;}
.propInfoHead {color:#666;text-align:center;margin:0 auto;padding-top:13px;}
.buttonFrame{padding-bottom:15px;padding-top:15px;margin:0 auto;}
.btn-default {color:#333;background-color:#fff;border-color:#ccc;}
#map {height:400px;width:100%;margin-bottom:0;padding-bottom:0;}
.innerLeft {padding-bottom:60px;margin-top: 85px;background-color: #fff;}
.agentBannerFrame {padding: 0;padding-top: 115px;padding-left: 30px;}
.fotorama__wrap {margin: 0 auto;}

@media(min-height:679px){
  .landingPageRight{padding-top:110px;}
  .image375hContainer{height:415px;}
  .image375h{height:415px;}
  .landingFlyerHeadline{padding-top:25px;padding-left:25px;}
  #landingFlyers{margin-bottom:15px;}
}

@media(min-width:400px){
	.coreFeatures .iconTile{text-align:center;}
}
@media (min-width: 475px){
	.agentWallTile{height:125px;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
	.memberSince .agentWallStats{margin:30px;margin-bottom:50px;}
	.memberSince .agentWallHero{padding:25px;padding-bottom:0;}
	.mostViewSlides .agentOffice{max-width:125px;}
	.newestListSection .agentName{font-size:1em;}
	.newestListSection .agentOffice{max-width:130px;}
	.coreFeatures .sectionHeader .preHead{font-size:1.15em;}
	.coreFeatures .tiframe{margin:0 auto;}
	.coreFeatures .altIconHeader{text-align:center;}
	.coreFeatures .iconDesc{padding:5px 35px;text-align:center;}
	.faqContent .faqBanner{padding-top:50px;}
	.landingMenu .buttonColumn{display:none;}
	.landingMenu .smallOnly{display:none;}
	.landingMenu .sideMenu{display:block;}
	.landingMenu{background:none;border:none;}
	.landingMenu.shadowBottom{box-shadow:none;}
	.landingMenu .sideMenu{border-bottom:2px solid #fff;
		border-left:1px solid #fff;;border-right:2px solid #fff;
		background:#efedff;border-top:2px solid #fff;}
	.landingMenu .sectionList{border-bottom:2px solid #fff;
		border-right:1px solid #fff;border-left:2px solid #fff;
		background:#efedff;border-top:2px solid #fff;}
	.r-textSmall{font-size:1em !important;padding:3px 0;}
	.r-textSmaller{font-size:.8em !important;padding:3px 0;}
	.r-textSmaller7{font-size:.7em !important;padding:3px 0;}
	.r-textSmaller9{font-size:.9em !important;padding:}
	.r-separator{display:none;}
	.container-fluid.unlimitedSale{padding:0 75px;}
	.payPerFlyer .creditColLeft{padding-left:60px;}
	.payPerFlyer .creditColRight{padding-right:60px;}
	.payPerFlyer .termsConditions{padding:50px 60px;}
	.payPerFlyer .priceHead{margin:15px 45px;}
	.remReasons .headerFrame{padding-left:45px;}
	.remReasons .headerText{font-size:2rem;}
	.remReasons .ticonFrame{width:70px;height:70px;padding-top:2px;}
	.freeTrial input[type="text"]::placeholder{text-align:center;}
	.freeTrial input[type="text"]:-ms-input-placeholder{text-align:center;}
	.freeTrial input[type="text"]::-ms-input-placeholder{text-align:center;}
	.freeTrial input{max-width:600px;text-align:center;}
	.agentWallAltHero{display:none;}
	.agentWallHero{display:block;}
	.publicFooter .colWrapper.contactList{padding-top:15px;}
	.mostViewSlides .agentName{max-width:200px;}
}

@media (min-width: 768px){

	.responsiveImgContainer{height:650px;}
	.responsiveImg{height:650px;object-fit:cover;}
	.landingRight .transBottom{display:none;}
	.landingRight .ctaButton{margin-bottom:0;}
	.altIconHeader{text-align:center;margin:0;padding:0;padding-top:5px;font-size:1.25em;}
	.tiframe{margin:0 auto;}
	.coreFeatures .iconDesc p{border-bottom:none;padding:0 60px;padding-bottom:15px;
		text-align:center;}
	.coreFeatures .exitPhrase{padding-top:75px;}
	.coreFeatures .iconTile{text-align:center;}
	.coreFeatures .iconDesc{padding:0;}
	.freeTrial{padding-top:25px;}
	.freeTrial .ticon{font-size:2.5em;}
	.freeTrial .ticon .circle{width:75px;height:75px;line-height:75px;}
	.mostViewSlides{padding-top:25px;}
	.mostViewSlides	.slideFrame{}
	.mostViewSlides .slideHeader{padding-bottom:10px;}
	.mostViewSlides .slideFooter{}
	.mostViewSlides .csz{}
	.mostViewSlides .sectionHeader{padding-top:10px;}
	.mostViewSlides .header-hr{padding:0 150px;}
	.payPerFlyer .creditWrapper{padding:0 35px;}


	/*responsive vert center*/
	.r-vertical-center{position:absolute;top:50%;
		transform:translate(0,-50%);width:100%;}
}

@media (min-width: 992px){

	.circle90{-webkit-clip-path: ellipse(90% 90% at 10% 50%);
		clip-path: ellipse(95% 95% at 5% 50%);}
	.coreFeatureGroup .top3{border-bottom:1px solid #efedff;}
	.coreFeatureGroup .r-border-right{border-right:1px solid #efedff;}
	.coreFeatureGroup .bot3{padding-top:30px;}
	.coreFeatureGroup .ticon{font-size:36pt;}
	.coreFeatures .tiframe {background:none;height:auto;width:auto;
		border-radius:0;border:none;}
	.coreFeatures .sectionHeader H1{font-size:2.5em;}
	.coreFeatures .sectionHeader .preHead{font-size:1.25em}
	.newestListSection .lastListing{display:none;}
	.newestListSection .agentOffice{max-width:200px;}
	.newestListSection .listingFrame.clearLeft{clear:none !important;}
	.memberSince .agentWallBot{display:flex;}
}
@media (min-width: 1200px) {
	.agentWall .agentURLbar{padding:15px 25px;}
	.agentWall .contactHeader{padding:0 25px;}
	.agentWall .emailBox{padding:15px 25px;}
	.agentWall .listingFrame .singleListing img{
			width:500px;height:300px;object-fit:cover;}
	.sectionWrapper{width:1200px;}
	.newestListSection .lastListing{display:block;}
	.remReasons .pointText{text-align:center;}
	.remReasons .headerImg img{max-height:100%;}
	.publicOverlay .agentWall{max-width:50%;margin:0 auto}

}

/* custom */

@media(min-width:1300px){
	.sectionWrapper{width:1300px;}
}
/*
@media(min-width:1400px){
	.sectionWrapper{width:1400px;}
}

@media(min-width:1500px){
	.sectionWrapper{width:1500px;}
}
/*
@media(max-height:687px){
  .landingPageLeft{padding-top:190px;}
  .landingPageRight{padding-top:110px;}
}
*/
